@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #CFC3E4;
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  //   font-size: 14px;

  background: $primary;
  background: radial-gradient(circle, $primary 0%, rgb(255, 255, 255) 100%);

  overflow: visible;

  #app {
    z-index: 2;

    .content {
      overflow-x: hidden;
    }
  }
}

/* Fix body not aligning on top: */
body {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

a {
  color: #77698f
}